# Dependencies
node_modules/
**/node_modules/

# Environment files
.env
**/.env
.env.local
.env.development
.env.production

# Allow example env
!.env.example
!**/.env.example

# Build folders
dist/
build/
.next/
coverage/

# Logs
*.log

# IDE
.vscode/
.idea/

# Editor settings
.vscode/

# Python cache
__pycache__/
*.pyc